body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('converter.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    font-family: 'Courier New', Courier, monospace;
    color: #2e3d49;
    margin-bottom: 10px; /* Adjusted for visual spacing between header and content */
    background-color: #ffffffe0;
    border-radius: 5px;
}

main {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px; /* Adjusted for a wider form */
    margin-bottom: 20px; /* Provides spacing from the bottom */
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns for a more structured layout */
    gap: 10px; /* Spacing between grid items */
    align-items: center; /* Aligns items vertically in the center */
}

input[type="number"], select, button {
    padding: 10px;
    margin: 5px 0; /* Reduced margin for a tighter layout */
    border: 1px solid #bbb; /* Subtle border color */
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace; /* Monospace font for inputs and button */
    font-size: 16px;
}

button {
    grid-column: 1 / -1; /* Button spans across both columns */
    background-color: #4CAF50; /* A more 'scientific' green */
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

fieldset {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin-top: 20px; /* Added margin-top for spacing */
    grid-column: 1 / -1; /* Fieldset spans across both columns */
}

legend {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding: 0 5px;
}

label {
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
}

#outputValue {
    font-weight: bold;
    color: #4CAF50; /* Echoing the button color for visual consistency */
}